<!DOCTYPE html>
<html lang="en">

<head>
 <title>Ossum Frontend v2</title>
 <link rel="stylesheet" href="/assets/frontend.css" />
</head>

<body>

  <h1>Ossum Frontend v2</h1>

  <p>Welcome to my amazing web application. I hope you really enjoy all the rich content.</p>

  <p>No? Okay, how about now, with koalas?!</p>

  <ul>
    <li>{{ .Results.Message }}</li>
  </ul>

  <p>API Version: {{ .Results.Version }}</p>

</body>

</html>